html {
  overflow: auto;
}

body > section {
  box-sizing: border-box;
}

.container-with-sidebar {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 6fr;
  grid-template-rows: 1fr;
  position: relative;
}

.container-with-sidebar > section {
  padding: 1rem;
}
