html {
  overflow: auto;
}

body > section {
  box-sizing: border-box;
}

.container-with-sidebar {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(220px, 1fr) 6fr;
  grid-template-rows: 1fr;
}
