.menu {
  padding: 1rem;
}

.menu-list a {
  display: flex;
  align-items: center;
  margin: 12px 0px;
  transition: 0.15s background-color ease-in-out;
}

.menu-list a i {
  margin-right: 0.5rem;
}

.menu-list a:hover {
  box-shadow: 0 12px 20px -10px rgba(52, 152, 219, 0.28);
}
